<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <!--longgggg

  <connectionStrings>
    <add name="NetGameVNEntities" connectionString="metadata=res://*/DPContext.ModelDP.csdl|res://*/DPContext.ModelDP.ssdl|res://*/DPContext.ModelDP.msl;provider=System.Data.SqlClient;provider connection string=&quot;&#xD;&#xA;   &#xD;&#xA;                          data source=MSI\MAYAO;initial catalog=NetGameVN;integrated security=True;&#xD;&#xA;                          MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="PROJECT_NetGameVN_STINGDAU.Properties.Settings.NetGameVNConnectionString"
      connectionString="Data Source=ADMIN-PC\VINH;Initial Catalog=NetGameVN;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  
  
 
    <!--nghia  


  <connectionStrings><add name="NetGameVNEntities" connectionString="metadata=res://*/DPContext.ModelDP.csdl|res://*/DPContext.ModelDP.ssdl|res://*/DPContext.ModelDP.msl;provider=System.Data.SqlClient;provider connection string=&quot;
    
                          Data Source=TAI_VO_02\DUYNGHIA;Initial Catalog=NetGameVN;Integrated Security=True;
                          MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings> -->
   
  
  <!--vinh-->
 
  <connectionStrings><add name="NetGameVNEntities" connectionString="metadata=res://*/DPContext.ModelDP.csdl|res://*/DPContext.ModelDP.ssdl|res://*/DPContext.ModelDP.msl;provider=System.Data.SqlClient;provider connection string=&quot;
    
                         Data Source=ADMIN-PC\VINH;Initial Catalog=NetGameVN;Integrated Security=True;
                          MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  
  

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>